---
import EnvoyLogo from "../assets/images/envoy1084.png?url";

import DotMorphCanvas from "@/components/visuals/dot-morph-canvas";
import { RotatingTextAnimate } from "@/components/ui/text-animate";

import Icon from "@/components/ui/icon.astro";

import MorphImage1 from "@/assets/images/morph1.png?url";
import MorphImage2 from "@/assets/images/morph2.png?url";
import MorphImage3 from "@/assets/images/morph3.png?url";

const morphSources = [MorphImage3, MorphImage1, MorphImage2];

const titles = ["Software Engineer", "Technical Writer"];
---

<section id="hero" class="">
    <div class="flex flex-col gap-6">
        <div
            class="size-11 flex items-center justify-center rounded-lg bg-brand/30 shadow-card"
        >
            <img
                src={EnvoyLogo}
                class="size-10 rounded-md overflow-hidden"
                alt="Envoy1084"
                loading="eager"
                fetchpriority="high"
                decoding="async"
                width="40"
                height="40"
            />
        </div>
        <div class="flex flex-col gap-0.5">
            <h1 class="text-xl font-semibold">Vedant Chainani</h1>
            <RotatingTextAnimate
                items={titles}
                intervalMs={5000}
                animation="cascade"
                className="text-content-tertiary text-[14px] font-medium"
                client:only="react"
            >
                <span
                    slot="fallback"
                    class="text-content-tertiary text-[14px] font-medium"
                >
                    {titles[0]}
                </span>
            </RotatingTextAnimate>
        </div>
        <p class="text-content-secondary font-medium text-base">
            I'm a developer and writer. I work at Namespace on a mission to name
            a billion ethereum addresses. I've been coding for 3 years, still in
            beta learning my way through life.
        </p>
        <DotMorphCanvas sources={morphSources} client:only="react" />
    </div>
    <div class="flex flex-row gap-2">
        <button
            type="button"
            class="inline-flex h-8 w-8 items-center justify-center rounded-lg font-medium text-muted-foreground transition-colors select-none hover:bg-primary/5 hover:text-foreground disabled:pointer-events-none disabled:opacity-50"
            aria-label="GitHub"
        >
            <Icon name="github" size={18} />
        </button>
    </div>
</section>
